{% extends 'base.html' %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
    <div class='row justify-content-center'>
        <div class='col-md-8 p-5'>
            <div class='card'>
            {% if post_id %}
                <div class='card-header'>Редактировать запись</div>
                <div class='card-body'>
                    <form method='post' enctype='multipart/form-data' action='{% url 'post_edit' author.username post.id %}'>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class='col-md-6 offset-md-4'>
                            <button type='submit' class='btn btn-primary'>
                                Сохранить изменения
                            </button>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class='card-header'>Новая запись</div>
                <div class='card-body'>
                    <form method='post' enctype='multipart/form-data' action='{% url 'new_post' %}'>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class='col-md-6 offset-md-4'>
                            <button type='submit' class='btn btn-primary'>
                                Создать новую запись
                            </button>
                        </div>
                    </form>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}